spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/studs
    username: s373755
    password: ZLkWMcjtOB0TjVJu
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never

server:
  port: 8080
